section{
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 60px);
  max-height: 100%;
  perspective: 1000px;
}
.title {
  color: white;
  font-weight: bold;
  margin-right: auto;
  font-size: 1.2rem;
}
header {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #272727;
  padding: 0em 1em;
  box-sizing: border-box;
}
header a{
  color: #f1f1f1;
  text-decoration: none;
  margin-right:15px;
}
header a:after{
  position: relative;
  display: block;
  content: "";
  background-color: #FFD600;
  width: 0px;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto;
  top:5px;
  opacity: 0;
  transition: .5s all ease-out;
}
header a.active:after{
  width: 40px;
  opacity: 1;
}
